name: Build and Push gRPC Product Service

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.USER }}
        password: ${{ secrets.PASSWD }}
    
    - name: Build and push Docker images
      env:
        DOCKER_USERNAME: ${{ secrets.USER }}
        IMAGE_TAG: ${{ github.sha }}
      run: |
        services=(ai-service makeline-service order-service product-service store-admin store-front virtual-customer virtual-worker)
        for service in "${services[@]}"; do
          docker build -t $DOCKER_USERNAME/${service}:$IMAGE_TAG ./src/${service}
          docker push $DOCKER_USERNAME/${service}:$IMAGE_TAG
        done
      
    - name: Update Kubernetes manifests
      run: |
        services=(kustomization makeline-service mongodb order-service product-service rabbitmq store-admin store-front virtual-customer)
        for service in "${services[@]}"; do
          if [ -f "./kustomize/base/${service}.yaml" ]; then
            sed -i 's|image: .*'${service}'.*|image: ${{ secrets.USER }}/'${service}':${{ github.sha }}|' ./kustomize/base/${service}.yaml
          fi
        done

    - name: Commit and push if there are changes
      run: |
        git config --global user.email "github-actions@github.com"
        git config --global user.name "GitHub Actions"
        git add .
        git commit -m "Update image tags" || exit 0
        git push
